<div class="spacing">
  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>{{title}}</h4>
      <p ibmTableHeaderDescription>{{description}}</p>
    </ibm-table-header>
    <br><br>

    <ibm-label>
      <p>ID</p>
    </ibm-label>
    <input ibmText *ngFor="let user of categoria" ngModel="{{ user.id }}" disabled>

    <br> <br>

    <ibm-label>
      <p>Nome da Categoria</p>
      <ibm-label>
        Altere o nome da categoria abaixo
      </ibm-label>
    </ibm-label>
    <input ibmText ngModel #nomeCategoria/>
   <br><br>

  </ibm-table-container>

  <br>
  <br>

  <button class="btn" [routerLink]="['../listar']" (click)="goBack()" ibmButton="secondary">
    cancelar
    <svg ibmIcon="delete" size="16" class="bx--btn__icon"></svg>
  </button>

  <button ibmButton="primary"(click)="save()"> <!-- Deixei sem passar a variavel local para parar de dar o erro -->
    Salvar
    <svg ibmIcon="save" size="16" class="bx--btn__icon"></svg>
  </button>

</div>
