<div class="spacing">
  <ibm-table-container>
    <ibm-table-header>
      <h4 ibmTableHeaderTitle>{{title}}</h4>
      <p ibmTableHeaderDescription>{{description}}</p>
    </ibm-table-header>
    <br><br>

    <ibm-label>
      <p>ID</p>
    </ibm-label>
    <input ibmText [(ngModel)]="categoria.id" disabled>
    <br><br>

    <ibm-label>
      <p>Nome da Categoria</p>
    </ibm-label>

    <input ibmText [(ngModel)]="categoria.nome"/>
    <br><br>
  </ibm-table-container>
  <br><br>

  <button class="btn" [routerLink]="['../listar']" ibmButton="secondary">
    cancelar
    <svg ibmIcon="delete" size="16" class="bx--btn__icon"></svg>
  </button>

  <button ibmButton="primary" (click)="save()">
    Salvar
    <svg ibmIcon="save" size="16" class="bx--btn__icon"></svg>
  </button>

</div>