<!-- <app-listar></app-listar> -->
<p>App.Component HTML</p>
<app-categorias></app-categorias>
<app-dashboard></app-dashboard>
<app-header></app-header>
<app-header name="Carbon Tutorial Angular"></app-header>


<!-- <ibm-header name="Carbon Tutorial Angular">
  <ibm-header-navigation ariaLabel="Carbon Tutorial Angular">
    <ibm-header-item href="/repos">Repositories</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIcon="notification" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="user--avatar" size="20"></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIcon="app-switcher" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header> -->
